#
# Source from ~/.zshrc or ~/.bashrc
#

# useful an any system 
alias ll='ls -lahG'
alias cls='clear'
alias cd..='cd ..'
alias p3='ping -c3'

# for dev environment
alias py=python3
alias vs='code -n $1'
alias activate='source .venv/bin/activate'

# Git
alias bras='git branch -a -vv'
alias checkout='git checkout $1'
alias commit='git commit -m $1'
alias pull='git pull $1 $2'
alias push='git push $1 $2'

# Heroku
alias herokpe='heroku run printenv -a $1'
alias herokpg='heroku pg:psql -a $1'
alias herokrs='heroku ps:restart -a $1'
alias heroksh='heroku run bash -a $1'

# wrappers for my custom scripts
alias bak2usb=~/dev/scripts/bak2usb.sh
alias hibp='pwnytrap.sh $1 $2'
